.mobileUploadComponent {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    z-index: 100;
    background-color: lightgray;
    text-decoration: none;
    padding: 10px;

}

.uploadButton {
    text-decoration: none;
    color: darkred;

    
}
.uploadButtonColor {
    color: blue;
}

.addButton {
    height: 45px !important;
    width: 45px !important;
}

@media (min-width: 700px) {
    .mobileUploadComponent {
        display: none;
    }
}